<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>title</key>
			<string>邮件</string>
			<key>normalimage</key>
			<string>tab_mail_normal</string>
			<key>selectedimage</key>
			<string>tab_mail_selected</string>
			<key>controller</key>
			<string>JDMailListController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>会话</string>
			<key>normalimage</key>
			<string>tab_chat_normal</string>
			<key>selectedimage</key>
			<string>tab_chat_selected</string>
			<key>controller</key>
			<string>JDChatListController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>联系人</string>
			<key>normalimage</key>
			<string>tab_contacts_normal</string>
			<key>selectedimage</key>
			<string>tab_contacts_selected</string>
			<key>controller</key>
			<string>JDContactListController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>日程</string>
			<key>normalimage</key>
			<string>tab_schedule_normal</string>
			<key>selectedimage</key>
			<string>tab_schedule_selected</string>
			<key>controller</key>
			<string>JDScheduleController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>文件</string>
			<key>normalimage</key>
			<string>tab_file_normal</string>
			<key>selectedimage</key>
			<string>tab_file_selected</string>
			<key>controller</key>
			<string>JDFilesManagerController</string>
		</dict>
	</array>
</dict>
</plist>
