<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rootcontroller</key>
	<string>TNTabBarViewController</string>
	<key>needAddressBook</key>
	<true/>
	<key>tabbar</key>
	<array>
		<dict>
			<key>statisticKey</key>
			<string>HomeMessage</string>
			<key>functionID</key>
			<string>TZ0001</string>
			<key>allowBubbleDrag</key>
			<true/>
			<key>allowDoubleClick</key>
			<true/>
			<key>showbadge</key>
			<true/>
			<key>title</key>
			<string>通知</string>
			<key>normalimage</key>
			<string>m49_normal</string>
			<key>highlightimage</key>
			<string>m49_selected</string>
			<key>itemid</key>
			<string>notification</string>
		</dict>
		<dict>
			<key>statisticKey</key>
			<string>HomeAddressList</string>
			<key>functionID</key>
			<string>TXL0001</string>
			<key>allowDoubleClick</key>
			<true/>
			<key>showbadge</key>
			<true/>
			<key>title</key>
			<string>通讯录</string>
			<key>normalimage</key>
			<string>m50_normal</string>
			<key>highlightimage</key>
			<string>m50_selected</string>
			<key>itemid</key>
			<string>contact</string>
		</dict>
		<dict>
			<key>statisticKey</key>
			<string>HomeDynamic</string>
			<key>functionID</key>
			<string>DT0001</string>
			<key>allowDoubleClick</key>
			<true/>
			<key>showbadge</key>
			<true/>
			<key>title</key>
			<string>动态</string>
			<key>normalimage</key>
			<string>m10001_normal</string>
			<key>highlightimage</key>
			<string>m10001_selected</string>
			<key>itemid</key>
			<string>trends</string>
		</dict>
		<dict>
			<key>statisticKey</key>
			<string>HomeFind</string>
			<key>functionID</key>
			<string>FX0000</string>
			<key>allowDoubleClick</key>
			<false/>
			<key>showbadge</key>
			<false/>
			<key>title</key>
			<string>服务</string>
			<key>normalimage</key>
			<string>m52_normal</string>
			<key>highlightimage</key>
			<string>m52_selected</string>
		</dict>
		<dict>
			<key>statisticKey</key>
			<string>HomeMy</string>
			<key>functionID</key>
			<string>MY0000</string>
			<key>allowDoubleClick</key>
			<false/>
			<key>showbadge</key>
			<false/>
			<key>title</key>
			<string>我的</string>
			<key>normalimage</key>
			<string>m53_normal</string>
			<key>highlightimage</key>
			<string>m53_selected</string>
		</dict>
	</array>
	<key>style</key>
	<integer>2</integer>
	<key>selectedControllerIndex</key>
	<integer>0</integer>
	<key>isFollowSkin</key>
	<true/>
	<key>controller</key>
	<array>
		<dict>
			<key>title</key>
			<string>通知</string>
			<key>name</key>
			<string>TNNNoticeCenterController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>通讯录</string>
			<key>name</key>
			<string>TNContactVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>动态</string>
			<key>name</key>
			<string>TNTrendsContainerController</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>name</key>
			<string>TNADiscoverHomeController</string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>name</key>
			<string>TNWorkBenchController</string>
		</dict>
	</array>
</dict>
</plist>
